app-month-selector{
  margin-left: 85%;
  width: 0;
}
.selectors{
  align-content: space-between;
  align-items: center;

}
.tableCard{
  width: 500px;
  border:solid  rgb(44, 33, 66);
  background-color: rgb(44, 33, 66);
  margin: 5px 0 10px 50px;

}

.datePicker {
  width: 100%;
  display: flex;
  justify-content: center;
}
app-graph{
  width: 100%;
  height: 100%;
  align-content: center;
}
app-statistic-table {
  width: 80%;
}
app-new-date-picker {
  width: 100%;
  margin-left: 50vw;
}

mat-grid-list {
  height: 100%;
}
