<app-year-selector (selectYearEvent)="selectYear(Number($event))"></app-year-selector>
<div class="content">
<mat-card class="tableCard">
  <app-month-selector (selectMonthEvent)="selectMonth(Number($event))"></app-month-selector>
  <app-statistic-table [camperPlaces]="camperPlaces" [reservationCountPerCamperPlace]="reservationCountPerCamperPlace"
                       [revenuePerCamperPlace]="revenuePerCamperPlace"></app-statistic-table>
</mat-card>
  <app-graph [month]="month" [year]="year"></app-graph>
</div>
