app-month-selector{
  margin-left: 85%;
  width: 0;
}
.selectors{
  align-content: space-between;
  align-items: center;

}
.tableCard{
  width: 900px;
  border:solid  rgb(44, 33, 66);
  background-color: rgb(44, 33, 66);
  margin: 5px 0 10px 50px;

}
.content{
  width: 98%;
  display: flex;
  align-content: space-between ;
  align-items: end;
}

.graph{
margin-bottom: 35px;
}
