<div class="selectors">
  <app-month-selector (selectMonthEvent)="selectMonth(Number($event))"></app-month-selector>

  <app-year-selector (selectYearEvent)="selectYear(Number($event))" class="yearSelector"></app-year-selector>

</div>
<div class="content">

  <mat-card class="tableCard">

    <app-statistic-table
      [camperPlaces]="camperPlaces"
      [reservationCountPerCamperPlace]="reservationCountPerCamperPlace"
      [revenuePerCamperPlace]="revenuePerCamperPlace"/>
  </mat-card>

  <app-graph [camperPlaces]="camperPlaces"
             [reservationCountPerCamperPlace]="reservationCountPerCamperPlace"
             [revenuePerCamperPlace]="revenuePerCamperPlace"
             class="graph"/>
</div>
