app-month-selector{
  margin-left: 90%;
  width: 0;
}
.tableCard{
  width: 900px;
  border:solid  rgb(44, 33, 66);
  padding: 20px;
  background-color: rgb(44, 33, 66);
  margin: 25px 0 0 50px;

}
.content{
  width: 100%;
  display: flex;
  align-content: space-between ;
  align-items: end;
}
.graph{
  width: 700px;
  height:200px;
  color: black;

}
