
h1{
  font-weight: lighter;
  margin-left: 450px;;
  margin-top: 30px;
}
mat-card{
  background-color: rgb(44, 33, 66);
}
.table {
  display: table;
  overflow: hidden;
  padding: 10px 30px 10px 10px;
  border-radius: 10px;
  margin-left: 400px;
  border: solid black;
  border-collapse: collapse;
}

table {
  width: 100%;
  height: 100%;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 1px;

}

th {
  width: auto;
  height: auto;
  color: darkgray ;
}
.today{
  color: white;
}

td {

  border-radius: 1px;
  width: auto;
  height: auto;
  padding: 0;
  background-color: palegreen;
  cursor: pointer;
  border: solid black 1px !important;
}

td:hover {
  background-color: lawngreen;


}

.reserved {
  background-color: orangered !important;
}

.reserved:hover {
  background-color: red !important;
  border: solid red 1px;
}

.button {
  text-align: center;
  margin-left: 6px;
  border-radius: 3px;
}

.addDiv {
  text-align: right;
  margin-top: 10px;
}

.button.add {
  margin-right: 0;
  border-color: lightgreen;
  background-color: lightgreen;
}

.button.delete {

  border-color: red;
  background-color: red;
}

.button:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
select{
  color: white;
  background-color: rgba(162, 120, 246, 0.19);
  border: solid rgba(162, 120, 246, 0.19);
  border-radius: 5px ;
  margin-bottom: 10px;

}
option{
  background-color: rgba(0, 0, 0, 0.2);
}
.weekdays{
  margin-top: 0;
  margin-bottom: 5px;
}
.weekend{
  background-color: springgreen;
  border: solid springgreen;
}
.weekend:hover{
  background-color: lime;

}
.coming{
  background-color: orange !important; ;
border: solid orange ;
}
.coming:hover{
  background-color:  darkorange!important;
  border: solid darkorange;
}
 .checkout{
   background: linear-gradient(to right, orangered 45%, black 10%, lightgreen 55%) ;
 }
 .checkin{
   background: linear-gradient(to right, lightgreen 45%, black 10%, orangered 55%) !important;

 }
 .checkin.checkout.coming.reserved{
   background: linear-gradient(to right,orangered 45%, black 10%, orange 55%) !important;
 }
 .checkin.coming{
   background: linear-gradient(to right,lightgreen  45%, black 10%, orange 55%) !important;
 }
 .checkout.coming{
   background: linear-gradient(to right,orange  45%, black 10%, lightgreen 55%) !important;
 }

.checkin.weekend.coming{
  background: linear-gradient(to right,springgreen  45%, black 10%, orange 55%) !important;
}
.checkout.weekend.coming{
  background: linear-gradient(to right,orange  45%, black 10%, springgreen 55%) !important;
}

.checkin.weekend.reserved{
  background: linear-gradient(to right,springgreen  45%, black 10%, orangered 55%) !important;
}

.checkout.weekend.reserved{
  background: linear-gradient(to right,orangered  45%, black 10%, springgreen 55%) ;
}
