<mat-card>
  <table mat-table [dataSource]="camperPlaces">
    <ng-container matColumnDef="camperPlaceNumber">
      <th mat-header-cell *matHeaderCellDef> Camper Place</th>
      <td mat-cell *matCellDef="let camperPlace"> {{ camperPlace.index }}</td>
      <td mat-footer-cell *matFooterCellDef>Total:</td>
    </ng-container>
    <ng-container matColumnDef="reservationCount">
      <th mat-header-cell *matHeaderCellDef> Reservation Count</th>
      <td mat-cell *matCellDef="let camperPlace"> {{  getReservationCountPerCamperPlace(camperPlace) }}</td>
      <td mat-footer-cell
          *matFooterCellDef>{{ showTotalResCount() }}
      </td>
    </ng-container>
    <ng-container matColumnDef="revenue">
      <th mat-header-cell *matHeaderCellDef> Revenue</th>
      <td mat-cell *matCellDef="let camperPlace"> {{ getRevenuePerCamperPlace(camperPlace) }}</td>
      <td mat-footer-cell *matFooterCellDef>{{ showTotalRevenue() }}</td>

    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row ; columns: displayedColumns;" class="tableRow"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>
</mat-card>
