
table {
  background-color: inherit;
}

th, td, tr {
  color: white;
}

.tableRow:hover {
  background-color: mediumpurple;
}
.table {
  overflow-y: auto;
  height: 800px;
}
.header {
  position: sticky;
  top: 0
}
.footer {
  position: sticky;
  bottom: 0;
}
table mat-row.mat-row:nth-of-type(odd) {
  background-color: #f0f0f0;
}
