.tableRow{
  height: 27px;
}
table {
  background-color: inherit;

}
th,td,tr{
  color: white;
}
.tableRow:hover{
background-color: mediumpurple;
}

mat-card {
     background-color: rgb(44, 33, 66);
  max-width:inherit;
}
