.container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px;


}

.drawer {
  width: 100%;
  border-radius: 0;


}

.routers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(10, 10, 10);
  padding: 35px 10px;
  border-radius: 5px;
  gap: 20px;
}


.footerButton {
  margin: 10px;
  color: lightgray;
  font-size: 1em;
  font-weight: lighter;
  text-decoration: none;
}

.footerButton:hover {
  color: darkgray;
}

.icon {
  color: lightgray;
  font-size: 2em;
}

.left {
  margin-right: auto;
}

.right {
  margin-left: auto;
}

.right:hover {
  cursor: pointer;
}


.icon:hover {
  cursor: pointer;
  color: darkgray;

}

