
<div class="container">
  <div #drawer class="drawer" mode="push">
    <div class="routers">
      <a class="footerButton" routerLink="../" (click)="logout()"><i class="fa-solid fa-right-from-bracket"></i></a>
      <a class="footerButton" routerLink="options"><i class="fa-solid fa-gear"></i></a>
      <a class="footerButton" routerLink="calendar"><i class="fa-solid fa-calendar-days"></i></a>
      <a class="footerButton" routerLink="reservations"><i class="fa-solid fa-list"></i></a>
      <a class="footerButton" routerLink="users"><i class="fa-solid fa-users"></i></a>
      <a class="footerButton" routerLink="statistics"><i class="fa-solid fa-chart-pie"></i></a>
    </div>
  </div>



</div>
