.content {
  display: flex;
  width: 100%;
  max-width: 300px;
  justify-content: space-between;
  border-radius: 30px;
  font-size: small;
}
.arrow {
  border: none;
  padding: 0;
  background-color: inherit;
  max-height: 30px;
  align-self: center;
  color: white;
}
.arrow:hover {
  cursor: pointer;
}

i {
  font-size: x-small;
}
p {
  margin: 0;
}
mat-card {
  display: flex;
  align-content: center;
  padding: 10px 15px 10px 15px;
  width: 100%;
  max-width: 135px;
  color: black;
  font-weight: bold;
  text-align: center;
}
.yearSelect {
  min-width: 100px;
}
.monthSelect {
  min-width: 135px;
}
.selectors{
  display: flex;
  gap: 5px;
}
