.reservations {
  position: relative;
  height: 100%;
  max-height: 700px;
  width: 100%;
  max-width: 1850px;
  border: solid rgba(162, 120, 246, 0.19) 1px;
  border-radius: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  justify-self: center;
}

td, th, tr {
  color: white;
  padding: 0;
}


table {
  margin-top: 0;
  padding: 0 0 0 10px;
  background-color: inherit;
}


th {
  position: sticky;
  top: 20px;
  z-index: 2;

}

.filter {
  border: solid 1px;
  border-radius: 5px;
  padding: 5px;
  position: fixed;
  margin-bottom: 2px;
  left: 80vw
}


.buttonDiv {
  top: 0;
  position: sticky;
  font-size: small;
  background-color: rgb(44, 33, 66);
  z-index: 2;

}

.headButton {
  background-color: unset;
  color: white;
  border: unset;
  font-size: larger;
  margin-top: 2px;

}

.sortingButton {
  background-color: unset;
  color: white;
  border: unset;
}

.sortingButton:hover {
  color: lightgray;
  cursor: pointer;
}

.headButton:hover {
  color: darkgray;
  cursor: pointer;
}

.expired {
  color: grey;
}

.active {
  color: lightgreen;
}

.reserved {
  color: yellow;
}

.row:hover {
  cursor: pointer;
  background-color: mediumpurple;
}

.deleteButton:hover {
  color: red;
}

mat-paginator {
  position: sticky;
  bottom: 0;
}

