.reservations {
  position: relative;
  height: 65vh;
  max-width: 96vw;
  /*padding: 40px;*/
  margin: 30px;
  background-color: rgb(44, 33, 66);
  border: solid rgba(162, 120, 246, 0.19) 1px;
  border-radius: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

td, th, tr {
  color: white;
  padding: 0;
}


table {
  margin-top: 0;
  padding: 0 0 0 10px;
  background-color:inherit;


}

tr {
}

th {
  position: sticky;
  top: 20px;

}

.filter {
  border: solid 1px;
  border-radius: 5px;
  padding: 5px;
  position: fixed;
  margin-bottom: 2px;
  left: 80vw
}

.reservations::-webkit-scrollbar {
  background-color: unset;
  width: 10px;
}

.reservations::-webkit-scrollbar-thumb {
  background-color: black;
  width: 10px;
  border-radius: 10px;
  border: solid black;
}

.reservations::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  background-color: unset;
  border-radius: 5px;

}

.buttonDiv {
  top: 0;
  position: sticky;
  font-size: small;
  background-color: rgb(44, 33, 66);

}

.addButton {
  background-color: unset;
  color: white;
  border: unset;
  font-size: larger;
}

.addButton:hover {
  color: darkgray;
  cursor: pointer;
}
.expired{
  color: grey;
}
.active{
  color: lightgreen;
}
.coming{
  color: yellow;
}

