.datePicker {
  width: 100%;
  display: flex;
  justify-content: start;
  margin-left: 100px;
}

app-new-date-picker {
  width: 100%;
}
.tablesWrapper {
  display: flex;
  flex-direction: row;
  padding: 20px;
  gap: 50px;
}
