<mat-card class="primary">
  <mat-card class="widget-header">
    <app-new-date-picker  (month)="changeMonth($event)" (year)="changeYear($event)"/>
  </mat-card>
  <table class="header primary">
    <thead>
    <tr >
      <th class="day"></th>
      @for (day of days; track day) {
        <th class="day">
          <p>{{ day }}</p>
          <div class="weekday">
            <p >{{findWeekDay(year, month, day)}}</p>
          </div>
        </th>
      }
    </tr>
    </thead>
  </table>
  <div class="table-container">
    @if (camperPlaces$) {
      <table>
        <tbody>
          @for (camperPlace of camperPlaces$ | async; track camperPlace) {
            <tr>
              <th>{{camperPlace.index}}</th>
              @for (day of days; track day) {
                <td>
                    @for (res of reservationsDemo; track res.id) {
                      @if (res.startsAt === day) {
                        <app-reservation-cell
                          [style.width]="getReservationCellWidth(res.days)"
                          [style.left.%]="50"/>
                      }
                    }
                </td>
              }

            </tr>
          }
        </tbody>
      </table>
    }

  </div>
</mat-card>
