<h1 mat-dialog-title>New Camper Place: </h1>
<div mat-dialog-content>
  <label>type: </label>
  <select [(ngModel)]="newCamperPlace.type" name="type">
    <option *ngFor="let type of camperPlaceTypes" [value]="type">
      {{type}}
    </option>
  </select>
<!--  <input type="text" [(ngModel)]="newCamperPlace.type" name="type">-->
  <br>
  <br>
  <label>price: </label>
  <input type="number"  [(ngModel)]="newCamperPlace.price" name="price">
  <br>
  <button mat-button type="button" (click)="addCamperPlace()" >submit</button>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="closePopup()">Close</button>
</div>
