<!--<app-regular-table-->
<!--  [dataSource]="allUsers"-->
<!--  [tabColumns]="columns"-->
<!--  [displayedColumns]="displayedColumns"-->
<!--  [pageSize]="pageSize"-->
<!--  [pageSizeOptions]="pageSizeOptions"-->
<!--  [serviceInstance]="userServiceN"-->
<!--  [fetchFunc]="fetchData.bind(this)"-->
<!--  [onClickFunc]="openUpdatePopup.bind(this)"-->
<!--  [createFunc]="openCreatePopup.bind(this)"-->
<!--  (sortInfo)="getSortInfo($event)"-->
<!--  (filterInfo)="getFilterInfo($event)" >-->
<!--</app-regular-table>-->
