<mat-card>
  <mat-card-content>
    <h1>Update Reservation</h1>
    <br>
    <br>
    <mat-hint>{{errorMessage}}</mat-hint>
    <br>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>Checkin</mat-label>
      <input type="date" matInput  [(ngModel)]="this.updatedReservation.checkin" >
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>Checkout</mat-label>
      <input type="date" matInput  [(ngModel)]="updatedReservation.checkout">
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>
        Select Camper Place
      </mat-label>
      <mat-select [(ngModel)]="number" (ngModelChange)="findCamperPlaceByNumber(number)"  name="number">
        <mat-option *ngFor="let camperPlace of camperPlaces" [value]="camperPlace.number">
          {{ camperPlace.number }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>

    <br>
    <button class="cancelButton" mat-button (click)="closePopup()">cancel</button>
    <button mat-button (click)="updateReservation()">submit</button>

  </mat-card-content>

</mat-card>
