.buttons{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.deleteButton {
  color: red !important;
}
.deleteButton:hover {
  background-color: red;
  color: white !important;
  cursor: pointer;
}
.functionalButtons{
  justify-self: start;
  display: flex;
  justify-content: space-evenly;
}

mat-card {
  color: black;
}
