.buttons{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.cancelButton {
  color: red;
}
.cancelButton:hover {
  background-color: red;
  color: white;
  cursor: pointer;
}
.functionalButtons{
  justify-self: start;
  display: flex;
  justify-content: space-evenly;
}
