<mat-card>
  <mat-card-content>
    <h1>Update Reservation</h1>
    <br>
    <br>
    <mat-hint>{{errorMessage}}</mat-hint>
    <br>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>Checkin</mat-label>
      <input type="date" matInput  [(ngModel)]="updatedReservation.checkin" >
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>Checkout</mat-label>
      <input type="date" matInput  [(ngModel)]="updatedReservation.checkout">
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>
        Select Camper Place
      </mat-label>
      <mat-select [(ngModel)]="updatedReservation.camperPlaceIndex" (ngModelChange)="findCamperPlaceByIndex($event)">
        <mat-option *ngFor="let camperPlace of camperPlaces" [value]="camperPlace.index">
          {{ camperPlace.index }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <br>
    <div class="buttons">
      <div class="functionalButtons">
        <button mat-button (click)="updateReservation()">submit</button>
        <button class="deleteButton" mat-button (click)="deleteReservation(data.reservation.id)">delete</button>
      </div>
      <button mat-button (click)="closePopup()">cancel</button>
    </div>
  </mat-card-content>

</mat-card>
