h1 {
  text-align: center;
  padding-top: 0;
}
mat-dialog-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;
}
.deleteIcon {
  display: flex;
  width: 100%;
  max-height: 15px;
  justify-content: end ;
  align-items: end ;
  margin-top: 15px;
}
i {
  position: absolute;
  top: 0;
  right: 0;
  color: black;
  padding: 20px;
  font-size: large;
  z-index: 1;
}
i:hover {
  cursor: pointer;
  color: red;
  font-size: larger;
}

app-form-buttons {
  padding: 10px 0;
  position: absolute;
  width: 100%;
  bottom: 0 !important;

}
.mat-mdc-select-min-line ng-tns-c1073613477-6 ng-star-inserted {
  display: none !important;
}
