@if (formData.update ) {
  <div class="deleteIcon">
  @if (checkInstance(formData.objectToUpdate) === 'r') {
    <i (click)="popupConfirmationService.openConfirmationPopup(
    'Rezerwacja zostanie usunięta. Czy chcesz kontynuować?',
    reservationService.deleteReservation(formData.objectToUpdate))" class="fa-regular fa-trash-can"></i>
  } @else if (checkInstance(formData.objectToUpdate) === 'u') {
    <i (click)="popupConfirmationService.openConfirmationPopup(
    'Gość zostanie usunięty a z nim wszystkie jego rezerwacje (Może to wpłynąć na statystki, narazie nie zalecane!). Czy chcesz kontynuować?',
    userService.delete(formData.objectToUpdate))" class="fa-regular fa-trash-can"></i>
  }

  </div>
}
<h1 mat-dialog-title>{{formData.header}}</h1>

<mat-dialog-content>
    @for (formInput of formData.formInputs; track formInput) {

      @if (!formInput.additional) {
          @if (!formInput.checkbox) {
              @if (!additionalFieldsCheckbox && formInput.replacedByAdditional || !formInput.replacedByAdditional) {
                <!--flag that checks whether the field is replaced by additional fields-->
                  @if (!formInput.select) {
                        <!--normal inputs-->
                        <mat-form-field>
                          <mat-label>{{ formInput.name }}</mat-label>
                          <input matInput
                                 type="{{formInput.type}}"
                                 [(ngModel)]="formValues[formInput.field]"
                                 [readonly]="formInput.readonly ?? false">
                        </mat-form-field>
                  } @else if (!formInput.readonly) {
                        <!--select forms-->
                        @if (formInput.autocomplete) {
                        <!--autocomplete form (currently only for users)  -->
                            <mat-form-field>
                                <mat-label>{{formInput.name}}</mat-label>
                                <input matInput
                                       #autoCompleteInputRef
                                       type="{{formInput.type}}"
                                       [formControl]="formControl"
                                       [matAutocomplete]="auto">
                                <mat-autocomplete
                                  autoActiveFirstOption
                                  #auto=matAutocomplete
                                  [displayWith]="userDisplay"
                                  (optionSelected)="onOptionSelected($event, formInput.field)">
                                  <cdk-virtual-scroll-viewport itemSize="40" style="height: 200px;">
                                  @for (option of filteredOptions | async; track option) {
                                    <mat-option [value]="option">
                                      {{option.firstName + " " + option.lastName}}
                                    </mat-option>
                                  }
                                  </cdk-virtual-scroll-viewport>
                                </mat-autocomplete>
                            </mat-form-field>
                        } @else {
                            <mat-form-field>
                              <mat-label>{{ formInput.name }}</mat-label>
                              <mat-select [(value)]="formValues[formInput.field]">
                                @for (el of formInput.selectList  | async; track el) {
                                  <mat-option [value]="el">{{el.toString()}}</mat-option>
                                }
                              </mat-select>
                            </mat-form-field>
                        }
                  } @else {
                        <!--select forms with preselected value-->
                        <mat-form-field>
                          <mat-label>{{ formInput.name }}</mat-label>
                          <input matInput
                                 [(ngModel)]="formValues[formInput.field]"
                                 [readonly]="true">
                        </mat-form-field>
                  }
              }

          } @else {
            <!--checkboxes-->
            <mat-checkbox
              [checked]="formValues[formInput.field]"
              (change)="formValues[formInput.field] = $event.checked">
              {{formInput.name}}
            </mat-checkbox>
          }
      }

    }
    @if (hasAdditional(formData)) {
      <!--checkbox to show additional inputs-->
      <mat-checkbox  #checkbox (change)="changeAfterCheck()" >
        @if (formData.update) {
          {{checkbox.checked ? 'Schowaj' : 'Edytuj gościa' }}
        } @else {
          {{checkbox.checked ? 'Schowaj' : 'Nowy' }}
        }
      </mat-checkbox>

      @if (checkbox.checked) {
        @for (additionalInput of formData.formInputs; track additionalInput) {
          @if (additionalInput.additional) {
            <!--additional inputs-->
            <mat-form-field>
              <mat-label>{{ additionalInput.name }}</mat-label>
              <input matInput
                     type="{{additionalInput.type}}"
                     [(ngModel)]="formValues[additionalInput.field]"
                     [readonly]="additionalInput.readonly ?? false">
            </mat-form-field>
          }

        }
      }
    }

</mat-dialog-content>

<app-form-buttons
  [firstAction]="firstAction"
  [secondAction]="secondAction">
</app-form-buttons>
