<mat-card class="primary">
  <ngx-charts-bar-vertical class="resCount"
                           [results]="results"
                           [scheme]="'cool'"
                           [xAxis]="true"
                           [yAxis]="true"
                           [legend]="false"
                           [showXAxisLabel]="true"
                           [showYAxisLabel]="true"
                           xAxisLabel="Camper Place"
                           yAxisLabel="Reservations"
                           [roundEdges]="true"
                           [animations]="true"
                           [showGridLines]="true"
                           [barPadding]="1"
                           [yAxisTickFormatting]="hideHalfNumbers"
                           style="fill: #FFFFFF;"

  >

  </ngx-charts-bar-vertical>
</mat-card>
<!--<mat-card>-->
<!--  <ngx-charts-bar-vertical class="revenue"-->
<!--                           [results]="revenue"-->
<!--                           [scheme]="'picnic'"-->
<!--                           [xAxis]="true"-->
<!--                           [yAxis]="true"-->
<!--                           [legend]="false"-->
<!--                           [showXAxisLabel]="true"-->
<!--                           [showYAxisLabel]="true"-->
<!--                           xAxisLabel="Camper Place"-->
<!--                           yAxisLabel="Revenue"-->
<!--                           [roundEdges]="true"-->
<!--                           [barPadding]="1"-->
<!--                           [showDataLabel]="true"-->
<!--                           [showGridLines]="true"-->
<!--                           style="fill: #FFFFFF;"-->
<!--                           [animations]="true">-->
<!--  </ngx-charts-bar-vertical>-->
<!--</mat-card>-->

