<mat-card>
  <mat-card-content>
    <h2>Update User</h2>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>First Name</mat-label>
      <input type="text" matInput [(ngModel)]="this.updatedUser.firstName">
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input type="text" matInput [(ngModel)]="this.updatedUser.lastName">
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input type="text" matInput [(ngModel)]="this.updatedUser.email">
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>Phone Number</mat-label>
      <input type="text" matInput [(ngModel)]="this.updatedUser.phoneNumber">
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>CarRegistration</mat-label>
      <input type="text" matInput [(ngModel)]="this.updatedUser.carRegistration">
    </mat-form-field>
    <br>

    <mat-form-field appearance="outline">
      <mat-label>Country</mat-label>
      <input type="text" matInput [(ngModel)]="this.updatedUser.country">
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>City</mat-label>
      <input type="text" matInput [(ngModel)]="this.updatedUser.city">
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>Street Address</mat-label>
      <input type="text" matInput [(ngModel)]="this.updatedUser.streetAddress">
    </mat-form-field>
    <mat-checkbox>Change To Admin</mat-checkbox>
    <br>
    <div class="buttons">
      <div class="functionalButtons">
        <button mat-button (click)="updateUser()">submit</button>
        <button class="cancelButton" mat-button (click)="deleteUser()">delete</button>
      </div>
      <button mat-button (click)="closePopup()">cancel</button>

    </div>
  </mat-card-content>

</mat-card>
