h2{
  margin-bottom: 0;
}
mat-form-field{
  height: 40px;
  margin-top: 10px;
}
.buttons{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.deleteButton {
  color: red;
}
.deleteButton:hover {
  background-color: red;
  color: white;
  cursor: pointer;
}
.functionalButtons{
  justify-self: start;
  display: flex;
  justify-content: space-evenly;
}
