html{
  overflow: hidden;
  /*background-color: #a2d8ea;*/
background-color: rgba(0, 0, 0, 0.88);
  color: white;

}

html, body { height: 100vh; }
body { margin: 0;
  font-family: Biome Light, "Helvetica Neue", sans-serif}
