<div class="container">
  <div>
    <div class="routers">
      <div class="functionalButtons">
        <a class="navbarButton" routerLink="options"><i class="fa-solid fa-gear"></i></a>
        <a class="navbarButton" routerLink="../" (click)="logout()"><i class="fa-solid fa-right-from-bracket"></i></a>
      </div>
    <div class="routersButtons">
      <a class="navbarButton" routerLink="calendar"><i class="fa-solid fa-calendar-days"></i></a>
      <a class="navbarButton" routerLink="reservations"><i class="fa-solid fa-list"></i></a>
      <a class="navbarButton" routerLink="users"><i class="fa-solid fa-users"></i></a>
      <a class="navbarButton" routerLink="statistics"><i class="fa-solid fa-chart-pie"></i></a>
    </div>
    </div>
  </div>


</div>
